.topBar{
    overflow: hidden;
    background-image: linear-gradient(to bottom right, purple,silver);
    margin-top: 0;

}
.topBar a{
    float: left;
    display: block;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 2em;
}